extends layout
append links
    link(rel="stylesheet" href="/stylesheets/adminpunch.css")
append scripts
    script.
        var userList = [];
        $(function initEvents() {
            $("tr td:nth-child(3)")
            .on('click', function(){
                $this = $(this);
                var selected = $this.hasClass('selected');
                var userid = $this.attr('data-userid');
                if(selected) {
                    $this.find('.check').addClass('hidden');
                    $this.find('.square').removeClass('hidden');
                    $this.removeClass('selected');
                    var index = userList.indexOf(userid);
                    if(index != -1)
                        userList.splice(index, 1);

                } else {
                    $this.find('.square').addClass('hidden');
                    $this.find('.check').removeClass('hidden');
                    $this.addClass('selected');
                    userList.push(userid);
                }
                $('.userList').val(userList.join(','));
            });

        });

    - function getRecord(userid, records) {
    -   return records.filter(function(r){ return r.userid === userid })[0];
    - }

block content
    .main
        .companyName= companyName
        table.punchTable
            tr
                th= tr('status')
                th= tr('name')
                th= tr('select')
            each user, index in users
                - var punchOut = getRecord(user.userid, lastRecords).outDate
                tr
                    td
                        .statusbox
                        if !punchOut
                            .in
                                .hollowcircle.red
                                .text 
                                    span.text.red IN
                        else
                            .out
                                .hollowcircle.green
                                .text
                                    span.text.green OUT
                    td= user.name
                        td(data-userid="#{user.userid}")
                            .square
                            .check.hidden
                                img(src="/images/Skinny check.png")

        form(method="POST" action="/supervisor/adminpunch")
            input.userList(type="hidden" name="userIdList" value="")
            input.punchBtn(type="submit" value="#{tr('punch')}")
        

