extends layout
    block content
        .top
            .datepicker
            .datepicker
            button.preview= tr('preview')
            button.export= tr('export')

        .content
            table
                tr
                    th= tr('userid')
                    th= tr('starttime')
                    th= tr('endtime')
                    th= tr('workhours')
                    th= tr('payment')

                each user, i in users
                    tr.clickable
                        td= user.userid
                        td= user.starttime
                        td= user.endtime
                        td= user.workhours
                        td= user.payment


                    


