extends layout

append links
    link(rel="stylesheet" href="/stylesheets/message.css")

append scripts


block content
    .main
        if success
            .message.success
                p.head!= msg.head
                p.body!= msg.body
            .iconbutton.check

        else
            .message.fail
                p.head!= msg.head
                p.body!= msg.body
            .iconbutton.refresh
            
        .redirectText
        

            script.
                var redirectTime = #{redirectTime || 5};
                for(var i=0; i<redirectTime; i++) {
                    (function(sec){
                        setTimeout(function() {
                            var rest = redirectTime-1-sec;
                            $('.redirectText').html("page will redirect in " + rest + " seconds!");
                            //if(rest === 0)
                            //    location.href = "#{pageUrl}";
                        }, sec*1000);

                    })(i);
                }

