extends layout
append links
    link(rel="stylesheet" href="/stylesheets/userform.css")
append scripts
    script.
        $(function initEvents(){
            $('.radioinput').on('click', function(){
                var $this = $(this);
                $('.radioinput').each(function(i, radio){

                    $(radio).removeClass('radioselected');
                });
                $this.addClass('radioselected');
            });
            $('#choosepic').on('click', function(e){
                e.preventDefault();
                $('.uploadfield').trigger('click');
            });
            
        });

block content
    .main
        .avatarsection
            .avatarimg
                img(src="/images/boydefaultpicture.png")
            .avatarupload
                .uploadfield 
                    input.textinput(type="text")
                    #choosepic.submitbutton= tr('...')
                    #submitupload.submitbutton= tr('upload')
                    input.uploadfield.hidden(type="file")
                .submitupload

        .infosection
            .sectiontitle
                span= tr('basic_info')
            .sectionfields
                label.title= tr('userid')
                input(id="userid" name="userid" type="text").textinput()
                label.title= tr('name')
                input(id="name" name="name" type="text").textinput()
                label.title= tr('password')
                input(id="password" type="password").passinput()
                .sexinput
                    label.title= tr('sex')
                    .radioinput.radioselected
                        .outer
                            .inner
                        .label= tr('sex_male')
                    .radioinput
                        .outer
                            .inner
                        .label= tr('sex_female')
                    input(name="sex" type="hidden" value="")
            .nextBtn.submitbutton= tr('next')

        .infosection
            .previousBtn.submitbutton= tr('previous')
            .sectiontitle
                span= tr('address')
            .sectionfields
                label.title= tr('userform_address_street')
                input(type="text" id="address_street" name="address_street").textinput
                label.title= tr('userform_address_city')
                input(type="text" id="address_city" name="address_city").textinput
                label.title= tr('userform_address_state')
                input.textinput.small.inline(id="address_state" name="address_state")
                label.title= tr('userform_address_zip')
                input.textinput.small.inline(id="address_zip" name="address_zip")
            .nextBtn.submitbutton= tr('next')

        .infosection
            .previousBtn.submitbutton= tr('previous')
            .sectiontitle
                span= tr('other')
            .sectionfields
                label.title= tr('paid_rate')
                input.textinput.small.inline(id="payrate" name="rate")
                label.title= tr('rate_change_date')
                input.textinput.small.inline.datepicker(id="change_from" name="rate_change_date")
                label.title= tr('userform_tel')
                input.textinput(name="tel")
                label.title= tr('userform_email')
                input.textinput(name="email")
                .textareainput
                    label.title= tr('remark')
                    textarea
            .nextBtn.submitbutton= tr('next')

        .previewall
            table.previewtable()
                tr
                    th= tr('userid')
                    td
                        span#useridtext
                tr
                    th= tr('name')
                    td
                        span#nametext
                tr
                    th= tr('password')
                    td
                        span#passwordtext
                tr
                    th= tr('sex')
                    td
                        span#sextext
                tr
                    th= tr('userform_address')
                    td
                        span#streettext
                tr
                    td(colspan=2)
                        span#citytext 
                        span#statetext
                        span#ziptext

                tr
                    th= tr('paid_rate')
                    td
                        span#ratetext
                tr
                    th= tr('rate_date')
                    td
                        span#ratedatetext
                tr
                    th= tr('userform_tel')
                    td
                        span#teltext
                tr
                    th= tr('userform_email')
                    td
                        span
                tr
                    td(colspan=2)
                        span.label= tr('remark')
                        span#remarktext 
        .cmdtools
                #makechange.submitbutton
                    = tr('make_change')
                #confim.submitbutton
                    = tr('submit_change')

