extends layout
append links
    link(rel="stylesheet" href="/stylesheets/overviewreport.css")
append scripts
    script.
        $(function initEvents(){
            $('.weekly > .submitbutton').on('click', function(){
                $('.weeklist').slideToggle('slow');
            });
        });

    - function getRecord(userid, records) {
    -   return records.filter(function(r){ return r.userid === userid })[0];
    - }

    - var jun = moment().month(6);
    - var now = moment(jun);
    - var year = "`" + now.format('YY');
    - var month = now.format("MMMM");
    - now.startOf('month');
    - var weeklist = [];
    - var counter = 5;
    - console.log(month);
    - while(counter > 0) {
    -   var weekObj = { start: now.startOf('week').format('MM-DD'), end: now.endOf('week').format('MM-DD') };
    -   now.add(1, 'w');
    -   weeklist.push(weekObj);
    -   counter--;
    - }

block content
    .main
        .header
            span OVERVIEW SUMMARY
        .cmdtools
            .monthly
                .submitbutton MONTH OF #{month} #{year}
            .weekly
                .submitbutton WEEKLY REPORT
                .weeklist.hidden
                    ul
                        each week, index in weeklist
                            li= week.start + "/" + week.end


        table.overviewtable
            tr
                th= tr('name')
                th= tr('start_end_date')
                th= tr('paid_rate')
                th= tr('hours')
                th= tr('totalpay')
                - var test = [1, 2, 3, 4, 5, 6]
                each n in test
                    tr
                        td Q
                        td
                            span 06-01
                            br
                            span 06-30
                        td $8.75
                        td 40
                        td $350
        //
            each user, index in users
                - var record = getRecord(user.userid, records);
                tr
                    td= user.name
                    td
                        span= record.inDate
                        br
                        span= record.outDate
                    td= user.curRate[user.curRate.length-1].rate
                    td= record.workhour
                    td= record.total
        .submitbutton.back= tr('back')
