extends layout
append links
    link(rel="stylesheet" href="/stylesheets/overviewreport.css")

    - function getRecord(userid, records) {
    -   return records.filter(function(r){ return r.userid === userid })[0];
    - }

    - var now = moment(m, "MM-DD");
    - var year = now.format('YYYY');
    - var month = now.format("MMMM");
    - now.startOf('month');
    - var weeklist = [];
    - var counter = 5;
    - while(counter > 0) {
    -   var weekObj = { start: now.startOf('week').format('MM-DD'), end: now.endOf('week').format('MM-DD') };
    -   now.add(1, 'w');
    -   weeklist.push(weekObj);
    -   counter--;
    - }

append scripts
    script.
        $(function initEvents(){
            $('.weekly > .submitbutton').on('click', function(){
                $('.weeklist').slideToggle('slow');
            });
            $('.weekly ul li').on('click', function(){
                var $liBtn = $(this);
                var html = $liBtn.html();
                var url = html.replace(' to ', '/');
                location.href = "/supervisor/overviewreport/" + url;
            });

            $('.monthly>.submitbutton').on('click', function(){
                location.href = "/supervisor/overviewreport#{month? '/'+month : ''}";
            });
            $('.back').on('click', function(){
                location.href = "/supervisor/supervisor_main"
            });
        });


block content
    .main
        .header
            span= tr('overview_summary')
        .cmdtools
            .monthly
                .submitbutton #{tr('month_of')} #{tr(month)} <br> #{year}
            .weekly
                .submitbutton #{tr('weekly')} <br> #{tr('report')}
                .weeklist.hidden
                    ul
                        each week, index in weeklist
                            li= week.start + " to " + week.end


        table.overviewtable
            tr.tableRow    
                th.tableHead= tr('name')
                th.tableHead!= tr('start_end_date')
                th.tableHead= tr('paid_rate')
                th.tableHead= tr('hours')
                th.tableHead= tr('totalpay')
            if userReports.length == 0
                tr.tableRow
                    td.tableData(colspan="5")= tr('empty')
            else
                each user, index in userList
                    - var record = getRecord(user.userid, userReports);
                    if record
                        tr.tableRow
                            td.tableData= user.name
                            td.tableData
                                span= moment(record.from).format("MM-DD hh:mm A")
                                br
                                span= moment(record.to).format("MM-DD hh:mm A")
                            td.tableData= "$" + record.avgRate
                            td.tableData= new Number(record.totalhours).toFixed(2) + " " + tr('hour')
                            td.tableData= "$" + new Number(record.totalWage).toFixed(2)
        .submitbutton.back= tr('back')
