extends layout

append links
    link(rel='stylesheet', href='/stylesheets/reportselect.css')

append scripts
    script.
        $(document).ready(function() {
            $('.summary').click(function(){
                $('.calendar').slideToggle("slow");
            });
            $('.button1').click(function(){
                var owner = #{owner ? true : false};
                if(!owner) {
                    location.href = "/recentRecords";
                } else {
                    location.href = "/supervisor/employees";
                }
            });
            $('table td').on('click', function(){
                var url = $(this).attr('data-url');
                location.href = url;
            });

        });

block content                       
    .total(ontouchstart="")
        .title1= tr('select_report_type')
        .button1.noselect= tr('report_activity')
        .summary.noselect= tr('report_summary')
        .calendar.noselect.hidden
            - var months = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUNE', 'JULY', 'AUG', 'SEPT', 'OCT', 'NOV', 'DEC'];
            - var months_cn = [tr('JAN'), tr('FEB'), tr('MAR'), tr('APR'), tr('MAY'), tr('JUNE'), tr('JULY'), tr('AUG'), tr('SEPT'), tr('OCT'), tr('NOV'), tr('DEC')];
            .title
               = tr('select_month')

            table
                - var threshold = 3;
                each m, index in months
                    if index ==0 || index % threshold == 0 
                        tr
                    td(data-url="/supervisor/overviewreport/#{m}")= months_cn[index]




