extends layout

append links
  link(rel= "stylesheet" href= "/datepicker/css/datepicker.css")
append scripts
  script(src="/datepicker/js/bootstrap-datepicker.js")

block content
    #punch
        form(action='/records_search' method='post')
          | Start Date: 
          input.datePick(type='text', name='startdate')
          br
          | End Date: 
          input.datePick(type='text', name='enddate')
          input(type="hidden" name='userid' value="#{userid}")
          input(type='submit' value='Search')
    script.
        $(function(){
            var showing = false;
            $('.datePick').on('click', function(e){
                if(showing){
                    $(this).datepicker('hide');
                    showing= false;
                }else{
                    $(this).datepicker('show');
                    showing= true;
                }
            });

            $('.datePick').on('changeDate', function(e){
                if(showing){
                    $(this).datepicker('hide');
                    showing= false;
                }
            });
        });
    .userinfo
        span= username
    .searchbar
        .datepicker
        .datepicker
        button.preview= tr('preivew')
        button.export= tr('export')
    .content
        table
            tr
                th= tr('punchin')
                th= tr('punchout')
                th= tr('hourlyrate')
                if su != -1
                    th= tr('cmdtool')
            each report, i in reports 
                tr
                    td= new Date(report.intime)
                    td= new Date(report.outtime)
                    td= report.hourlyrate
                    if su != -1
                        td
                            .cmdtool
                            form(name='input', action='/records_delete/#{report.reportid}', method='delete')
                                input(type='submit', value='delete', method='delete')
                            form(name='input', action='/records_update/#{report.reportid}', method='get')
                                input(type='submit', value='modify')
