extends layout
block content
    .userinfo
        span= username
    .searchbar
        .datepicker
        .datepicker
        button.preview= tr('preivew')
        button.export= tr('export')
    .content
        table
            tr
                th= tr('punchin')
                th= tr('punchout')
                th= tr('hourlyrate')
                th= tr('cmdtool')
<<<<<<< HEAD
            each report, i in reports 
=======
            each report, i in reports
>>>>>>> bfcf8a9848058a5b14190dd3e0d6bf4d1fa65b51
                tr
                    td= report.intime
                    td= report.outtime
                    td= report.hourlyrate
                    td
                        .cmdtool
                            button.modify= tr('modify')
                            button.delete= tr('delete')


