extends layout

block content
    .left
        .wrapper
            img(src="#{avatarURL}")
            span= id
            span= name
            span= createDate
    .right
        .wrapper
            input.editor(type=text)= sex
            input.editor(type=text)= email
            input.editor(type=text)= tel
            input.editor(type=text)= addr
            input.editor(type=text)= rate
            input.editor(type=text)= remark

    .bottom
        .cmdtoolbar
            button.modify= tr('modify')
            button.delete= tr('delete')
