extends ../layout.jade

append links
    link(rel='stylesheet', href='/stylesheets/supervisorMain.css')

append scripts
    script(src= "/javascripts/showHideRate.js")
    script.
        $(function initEvents(){

            $('.viewstaff').on('click', function(){
                location.href = "/supervisor/employees"
            });

            $('.addStaff').on('click', function(){
                location.href = "/users/add"
            });

            $('.manageRecords').on('click', function(){
                location.href = "/supervisor/employees_records"
            });

            $('.dynacode').on('click', function(){
                location.href = "/supervisor/showdynacode"
            });

            $('.delegate').on('click', function(){
                location.href = "/supervisor_delegate"
            });

            $('.adminpunch').on('click', function(){
                location.href = '/supervisor/adminpunch';
            });

            $('.setting').on('click', function(){
                location.href = "/supervisor/settings";
            });

            $('.logout').on('click', function(){
                location.href = "/logout";
            })
        });

block content
    .supervisorMainPage(ontouchstart="")
        //.userInfo
        .avatar
            img(src="#{user.sex ? '/images/boydefaultpicture.png' : '/images/girl default picture.png'}" alt="User Avatar") 
            p= tr('welcome') + " " + user.name
            //.acctInfo
                pre.
                Company: #{user.compid}
                User Account: #{user.email}
                User ID: #{user.userid}
                User Name: #{user.name}
                Gender: #{user.sex}
                Date Enrolled: #{user.createDate}
                Address: #{user.address}


        //.paidRate
            .paidRateBox
                span.text= tr('paidrate')
            .paidRateBox
                .hourRate.hidden
                    span.number.
                        $#{user.curRate}
                        <br>
                        #{tr('per_hour')}
                .imageCover

            .paidRateBox.showHideRate.noselect
                span.text= tr('showrate')


        .otherInfoLinks.noselect
            .viewstaff.otherInfo= tr('view staff')
            .addStaff.otherInfo= tr('add staff')
            .manageRecords.otherInfo= tr('manage records')
            .dynacode.otherInfo= tr('dynamic_qrcode')
            .delegate.otherInfo= tr('delegate')
            .adminpunch.otherInfo= tr('adminpunch')
            .overview.otherInfo= tr('overview')
            .setting.otherInfo= tr('setting')
            .logout.otherInfo= tr('logout')

            if false

                


