extends ../layout.jade

append links
    link(rel="stylesheet" href="/stylesheets/adminpunch.css") 
    link(rel='stylesheet' href='/stylesheets/supervisorPunchReport.css')
    link(rel="stylesheet" href="/bootstrap-3.3.5-dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/pickadate/lib/themes/default.css" id="theme_base")
    link(rel="stylesheet" href="/pickadate/lib/themes/default.date.css" id="theme_date")
    link(rel="stylesheet" href="/pickadate/lib/themes/default.time.css" id="theme_time")

append scripts
    script(src="/pickadate/lib/picker.js")
    script(src="/pickadate/lib/picker.date.js")
    script(src="/pickadate/lib/picker.time.js")
    script(src= "/javascripts/pickadateControl.js")
    script(src="/javascripts/editPunchTime.js")

    script.
        $(document).ready(function(){
            $('.returnSupervisor').on('click', function(){
            //location.href = "/supervisor/supervisor_main";
                history.go(-1);
            });
        });

    - function getTime(tstamp) {
    -   return moment(tstamp).format("HH:mm A");
    - }
    - function getDate(tstamp) {
    -   return moment(tstamp).format("YYYY-MM-DD");
    - }
block content
    .supervisorPunchPage(ontouchstart="")
        form#searchform(action="/records_search" method="POST")
            .startEndTime
                input.useDatePicker(type= "text" name="startdate" placeholder="#{tr('starttime')}") 
                //.endTime 
                input.useDatePicker(type= "text" name="enddate" placeholder="#{tr('endtime')}")
                input(type="hidden" name="userid" value="#{userid}")

            .controlButtons
                .preview.buttonItem= tr('preview')
                .buttonItem= tr('export')
                .returnSupervisor.buttonItem= tr('return')

        .reportTable
            table 
                tr
                    th.tableHead(colspan='4')
                        = tr('time') + " "
                        = tr('in') + "/"
                        = tr('out')

                if records.length === 0
                    tr
                        td(colspan=3 align="center")
                            span.text= tr('empty records')
                else
                    each record in records
                        tr
                            td.tableData 
                                ul
                                    li.listItem 
                                        .hollowcircle.green
                                    li.listItem  
                                        .hollowcircle.red
                            td.tableData
                                ul.dateList
                                    li.listItem.outDate
                                        span= record.outDate ? getDate(record.outDate) : ""
                                        input.outDateInput.useDatePicker.hidden(type= "text")
                                    li.listItem.inDate
                                        span= getDate(record.inDate)
                                        input.inDateInput.useDatePicker.hidden(type= "text")
                            td.tableData
                                ul.timeList
                                    li.listItem.outTime
                                        span= record.outDate ? getTime(record.outDate) : ""
                                        input.outTimeInput.useTimePicker.hidden(type= "text")
                                    li.listItem.inTime
                                        span= getTime(record.inDate)
                                        input.inTimeInput.useTimePicker.hidden(type= "text")
                            td.tableData
                                ul
                                    li.listItem 
                                        button.editOutButton.editButton EDIT
                                        .confirmReturn.outConfirmReturn.hidden
                                            button.confirmButton O 
                                            button.returnButton X
                                    li.listItem 
                                        button.editInButton.editButton EDIT
                                        .confirmReturn.inConfirmReturn.hidden
                                            button.confirmButton O 
                                            button.returnButton X