extends ../layout.jade

append links
    link(rel='stylesheet', href='/stylesheets/supervisorMain.css')

append scripts
    script(src= "/javascripts/showHideRate.js")

block content
    .supervisorMainPage(ontouchstart="")
        //.userInfo
        .avatar
            img(src="/images/yongred.jpg" alt="User Avatar") 
            p WELCOME #{user.name}
            //.acctInfo
                pre.
                Company: #{user.compid}
                User Account: #{user.email}
                User ID: #{user.userid}
                User Name: #{user.name}
                Gender: #{user.sex}
                Date Enrolled: #{user.createDate}
                Address: #{user.address}


        .paidRate
            .paidRateBox
                pre.
                    PAID
                    RATE
            .paidRateBox
                .hourRate.hidden
                    pre.
                        $#{user.curRate}
                        PER HOUR
                .imageCover

            .paidRateBox.showHideRate.noselect
                pre.
                    SHOW
                    RATE


        .otherInfoLinks.noselect
            .otherInfo STAFF MANAGEMENT
            .otherInfo DELEGATE
            .otherInfo SEARCH STAFF
            .otherInfo DYNAMIC QRCODE

            if false
                .otherInfo SETTING
                .otherInfo SUPERVISOR MANAGEMENT
                .otherInfo ADD STAFF


