extends ../layout.jade

append links
    link(rel='stylesheet', href='/stylesheets/supervisorMain.css')

append scripts
    script(src= "/javascripts/showHideRate.js")
    script.
        $(function initEvents(){
            $('.dynacode').on('click', function(){
                location.href = "/supervisor/showdynacode"
            });
            $('.adminpunch').on('click', function(){
                location.href = '/supervisor/adminpunch';
            });
            $('.viewstaff').on('click', function(){
                location.href = "/supervisor/employees"
            })
            $('.logout').on('click', function(){
                location.href = "/logout";
            })
        });

block content
    .supervisorMainPage(ontouchstart="")
        //.userInfo
        .avatar
            img(src="/images/yongred.jpg" alt="User Avatar") 
            p= tr('welcome') + " " + user.name
            //.acctInfo
                pre.
                Company: #{user.compid}
                User Account: #{user.email}
                User ID: #{user.userid}
                User Name: #{user.name}
                Gender: #{user.sex}
                Date Enrolled: #{user.createDate}
                Address: #{user.address}


        .paidRate
            .paidRateBox
                span.text= tr('paidrate')
            .paidRateBox
                .hourRate.hidden
                    span.number.
                        $#{user.curRate}
                        <br>
                        #{tr('per_hour')}
                .imageCover

            .paidRateBox.showHideRate.noselect
                span.text= tr('showrate')


        .otherInfoLinks.noselect
            .viewstaff.otherInfo= tr('view staff')
            .dynacode.otherInfo= tr('dynamic_qrcode')
            .adminpunch.otherInfo= tr('adminpunch')
            .logout.otherInfo= tr('logout')

            if false
                .management.otherInfo= tr('staffmanagement')
                .delegate.otherInfo= tr('delegate')
                .otherInfo SETTING
                .otherInfo SUPERVISOR MANAGEMENT
                .otherInfo ADD STAFF


