extends ../layout.jade

append links
    link(rel="stylesheet" href="/stylesheets/adminpunch.css") 
    //link(rel='stylesheet' href='/stylesheets/supervisorPunchReport.css')
    link(rel='stylesheet' href='/stylesheets/supervisorPunchReportLs.css')
    link(rel="stylesheet" href="/bootstrap-3.3.5-dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/pickadate/lib/themes/default.css" id="theme_base")
    link(rel="stylesheet" href="/pickadate/lib/themes/default.date.css" id="theme_date")
    link(rel="stylesheet" href="/pickadate/lib/themes/default.time.css" id="theme_time")

append scripts
    script(src="/pickadate/lib/picker.js")
    script(src="/pickadate/lib/picker.date.js")
    script(src="/pickadate/lib/picker.time.js")
    script(src= "/javascripts/pickadateControl.js")
    script(src="/javascripts/editPunchTime.js")

    script.
        $(document).ready(function(){
            $('.returnSupervisor').on('click', function(){
            //location.href = "/supervisor/supervisor_main";
                history.go(-1);
            });
            $('.editButton').on('click', function(){
                var $btn = $(this);
                var tr = $btn.parent().parent();
                var inDateInput = tr.find('.inDateInput');
                inDateInput.val(inDateInput.attr('data-value'));
                var inTimeInput = tr.find('.inTimeInput');
                inTimeInput.val(inTimeInput.attr('data-value'));
                var outDateInput = tr.find('.outDateInput');
                outDateInput.val(outDateInput.attr('data-value'));
                var outTimeInput = tr.find('.outTimeInput');
                outTimeInput.val(outTimeInput.attr('data-value'));
            });
            $('.confirmButton').on('click', function(){
                var $btn = $(this);
                var recordid = $btn.attr('data-record-id');
                var data = {id:recordid};
                var tr = $btn.parent().parent().parent();
                var inDateInput = tr.find('.inDateInput');
                var inTimeInput = tr.find('.inTimeInput');
                var outDateInput = tr.find('.outDateInput');
                var outTimeInput = tr.find('.outTimeInput');
                var inDate = inDateInput.val();
                var inTime = inTimeInput.val();
                data.inDate = inDate+" "+inTime;
                var outDate = outDateInput.val();
                var outTime = outTimeInput.val();
                data.outDate = outDate+" "+outTime;
                $.post("/supervisor/records_update", data, function(res){ 
                    if(res && res.success) {
                        inDateInput.attr('data-value', inDate);
                        inTimeInput.attr('data-value', inTime);
                        outDateInput.attr('data-value', outDate);
                        outTimeInput.attr('data-value', outTime);
                    } else {
                        alert(res.msg);
                    }
                }, "json");
            });
            $('.deleteButton').on('click', function(){
                var $btn = $(this);
                var recordid = $btn.attr('data-record-id');
                var data = {id: recordid};
                $.post("/supervisor/records_delete", data, function(res){ 
                    if(res && res.success) {
                        location.reload();
                    } else {
                        alert(res.msg);
                    }
                }, "json");
                
            })
        });

    - function getTime(tstamp) {
    -   return moment(tstamp).format("hh:mm A");
    - }
    - function getDate(tstamp) {
    -   return moment(tstamp).format("YYYY-MM-DD");
    - }
block content
    .supervisorPunchPage(ontouchstart="")
        form#searchform(action="/supervisor/records_search" method="GET")
            .startEndTime
                input(type="hidden" name="userid" value="#{userid}")
                input.useDatePicker(type= "text" name="startdate" placeholder="#{tr('starttime')}") 
                //.endTime 
                input.useDatePicker(type= "text" name="enddate" placeholder="#{tr('endtime')}")

            .controlButtons
                .preview.buttonItem= tr('preview')
                .buttonItem= tr('export')
                .returnSupervisor.buttonItem= tr('return')

        .reportTableDiv
            table.reportTable
                tr.tableRow
                    th.tableHead(colspan='4')
                        = tr('time') + " "
                        = tr('in') + "/"
                        = tr('out')

                if records.length === 0
                    tr.tableRow
                        td.tableData(colspan=3 align="center")
                            span.text= tr('empty records')
                else
                    each record in records
                        tr.tableRow
                            td.tableData 
                                ul
                                    li.listItem 
                                        .green OUT
                                    li.listItem  
                                        .red IN
                            td.tableData
                                - var outDate = record.outDate ? getDate(record.outDate) : "";
                                - var inDate = record.inDate ? getDate(record.inDate) : "";
                                ul.dateList
                                    li.listItem.date.outDate
                                        span= outDate
                                        input.dateInput.outDateInput.useDatePicker.hidden(type="text" data-value=outDate)
                                    li.listItem.date.inDate
                                        span= inDate
                                        input.dateInput.inDateInput.useDatePicker.hidden(type="text" data-value=inDate)
                            td.tableData
                                - var outTime = record.outDate ? getTime(record.outDate) : "";
                                - var inTime = record.inDate ? getTime(record.inDate) : "";
                                ul.timeList
                                    li.listItem.time.outTime
                                        span= outTime
                                        input.timeInput.outTimeInput.useTimePicker.hidden(type= "text" data-value=outTime)
                                    li.listItem.time.inTime
                                        span= inTime 
                                        input.timeInput.inTimeInput.useTimePicker.hidden(type= "text" data-value=inTime)
                            td.tableData
                                .editOutButton.editButton= tr('edit')
                                .confirmReturnDelete.outConfirmReturn.hidden
                                    .confirmButton.funcButton(data-record-id="#{record._id}") O 
                                    .returnButton.funcButton X
                                    .deleteButton.funcButton(data-record-id="#{record._id}")= tr('delete')

                                    //li.listItem 
                                        button.editInButton.editButton(data-date="#{getDate(record.inDate)}" data-time="#{getTime(record.inDate)}" data-type="in")= tr('edit') 
                                        .confirmReturn.inConfirmReturn.hidden
                                            button.confirmButton(data-value="#{record._id}" data-type="in") O 
                                            button.returnButton X
