extends ../layout.jade

append links
    link(rel="stylesheet" href="/stylesheets/adminpunch.css") 
    //link(rel='stylesheet' href='/stylesheets/supervisorPunchReport.css')
    link(rel='stylesheet' href='/stylesheets/punchReportLs.css')
    link(rel="stylesheet" href="/bootstrap-3.3.5-dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/pickadate/lib/themes/default.css" id="theme_base")
    link(rel="stylesheet" href="/pickadate/lib/themes/default.date.css" id="theme_date")
    link(rel="stylesheet" href="/pickadate/lib/themes/default.time.css" id="theme_time")

append scripts
    script(src="/pickadate/lib/picker.js")
    script(src="/pickadate/lib/picker.date.js")
    script(src="/pickadate/lib/picker.time.js")
    script(src= "/javascripts/pickadateControl.js")
    script(src="/javascripts/editPunchTime.js")

    if su
        script.
            $(document).ready(function(){ 
                $('.returnPage').on('click', function(){
                    //location.href = "/supervisor/supervisor_main";
                    history.go(-1);
                });
            });

    else
        script.
            $(document).ready(function(){ 
                $('.returnPage').on('click', function(){
                    //location.href = "/supervisor/supervisor_main";
                    location.href = "/staff_main";
                });
            });

    script.
        $(document).ready(function(){
            
            $('.editButton').on('click', function(){
                var $btn = $(this);
                var date = $btn.attr('data-date');
                var time = $btn.attr('data-time');
                var type = $btn.attr('data-type');
                var tr = $btn.parent().parent().parent().parent().parent();
                if(type === 'in') {
                    tr.find('.inDateInput').val(date);
                    tr.find('.inTimeInput').val(time);
                } else {
                    tr.find('.outDateInput').val(date);
                    tr.find('.outTimeInput').val(time);
                }
            });
            $('.confirmButton').on('click', function(){
                var $btn = $(this);
                var value = $btn.attr('data-value');
                var type = $btn.attr('data-type');
                var userid = "#{userid}";
                var data = {userid: userid, type:type, value:value};
                var tr = $btn.parent().parent().parent().parent().parent();
                if(type === 'in') {
                    var inDate = tr.find('.inDateInput').val();
                    var inTime = tr.find('.inTimeInput').val();
                    data.date = inDate+" "+inTime;
                } else {
                    var outDate = tr.find('.outDateInput').val();
                    var outTime = tr.find('.outTimeInput').val();
                    data.date = outDate+" "+outTime;
                }
                $.post("/supervisor/records_update", data, function(data){ 
                    alert(123);
                }, "json");
            });
        });

    - function getTime(tstamp) {
    -   return moment(tstamp).format("hh:mm A");
    - }
    - function getDate(tstamp) {
    -   return moment(tstamp).format("YYYY-MM-DD");
    - }
block content
    .punchPage(ontouchstart="")
        form#searchform(action="/supervisor/records_search" method="POST")
            .startEndTime
                input.useDatePicker(type= "text" name="startdate" placeholder="#{tr('starttime')}") 
                //.endTime 
                input.useDatePicker(type= "text" name="enddate" placeholder="#{tr('endtime')}")
                input(type="hidden" name="userid" value="#{userid}")

            .controlButtons
                .preview.buttonItem= tr('preview')
                .buttonItem= tr('export')
                .returnPage.buttonItem= tr('return')

        .reportTableDiv
            table.reportTable
                tr.tableRow
                    th.tableHead(colspan='4')
                        = tr('time') + " "
                        = tr('in') + "/"
                        = tr('out')

                if records.length === 0
                    tr.tableRow
                        td.tableData(colspan=3 align="center")
                            span.text= tr('empty records')
                else
                    each record in records
                        tr.tableRow
                            td.tableData 
                                ul
                                    li.listItem 
                                        .hollowcircle.green
                                    li.listItem  
                                        .hollowcircle.red
                            td.tableData
                                ul.dateList
                                    li.listItem.outDate
                                        span= record.outDate ? getDate(record.outDate) : ""
                                        input.outDateInput.useDatePicker.hidden(type= "text")
                                    li.listItem.inDate
                                        span= getDate(record.inDate)
                                        input.inDateInput.useDatePicker.hidden(type= "text")
                            td.tableData
                                ul.timeList
                                    li.listItem.outTime
                                        span= record.outDate ? getTime(record.outDate) : ""
                                        input.outTimeInput.useTimePicker.hidden(type= "text")
                                    li.listItem.inTime
                                        span= getTime(record.inDate)
                                        input.inTimeInput.useTimePicker.hidden(type= "text")
                            if su
                                td.tableData
                                    ul
                                        li.listItem 
                                            button.editOutButton.editButton(data-date="#{getDate(record.outDate)}" data-time="#{getTime(record.outDate)}" data-type="out")= tr('edit')
                                            .confirmReturn.outConfirmReturn.hidden
                                                button.confirmButton(data-value="#{record._id}" data-type="out") O 
                                                button.returnButton X
                                        li.listItem 
                                            button.editInButton.editButton(data-date="#{getDate(record.inDate)}" data-time="#{getTime(record.inDate)}" data-type="in")= tr('edit') 
                                            .confirmReturn.inConfirmReturn.hidden
                                                button.confirmButton(data-value="#{record._id}" data-type="in") O 
                                                button.returnButton X

                            else
                                td.tableData
                                    ul
                                        li.listItem= tr('out')
                                        li.listItem= tr('in')
