extends ../layout.jade
append links
    link(rel="stylesheet" href="/datepicker/css/datepicker.css")
append scripts
    script(src="/datepicker/js/bootstrap-datepicker.js")
    script(type="text/javascript").
        $(function(){
            var showing = false;
            $('.datePick').on('click', function(e) {
                if(showing){
                    $(this).datepicker('hide');
                    showing= false;
                }else{
                    $(this).datepicker('show');
                    showing= true;
                }
            });

            $('.datePick').on('changeDate', function(e){
                if(showing){
                    $(this).datepicker('hide');
                    showing= false;
                }
            });
        });

        
block content    
    h1 UserForm
    p= test
    if attr
        p= attr.msg
    form(action="/users/add" method="POST")
        table(border=1)
            tr
                td= tr('userform_userid')
                td
                    input(name="userid" type="text")
            tr
                td= tr('userform_pwd')
                td
                    input(name="pwd" type='text')
            tr
                td= tr('userform_name')
                td
                    input(name="name" type='text')
                    
            tr
                td= tr('create_date')
                td
                    input.datePick(data-date-format="yyyy-mm-dd" name="createDate" type='text')        
            
            tr
                td= tr('userform_sex')
                td
                    input(type="radio" id="male_rd" name="sex" value="1")
                    label(for="male_rd")= tr('sex_male')
                    input(type="radio" id="female_rd" name="sex" value="0")
                    label(for="female_rd")= tr('sex_female')
            tr
                td= tr('userform_email')
                td
                    input(name="email" type="text")
    
            
            tr
                td= tr('userform_compname')
                td
                    input(name="compname" tpye="text")
            tr
                td(colspan=2)
                    label(for="address_street")= tr('userform_address_street')
                    input(id="address_street" name="address_street" type="text")
                    label(for="address_city")= tr('userform_address_city')
                    input(id="address_city" name="address_city" type="text")
                    label(for="address_state")= tr('userform_address_state')
                    input(id="address_state" name="address_state" type="text")
                    label(for="address_zip")= tr('userform_address_zip')
                    input(id="address_zip" name="address_zip" type="text")
            tr
                td= tr('userform_tel')
                td
                    input(name="tel" type="text")
            
            tr
                td= tr('userform_rate')
                td
                    input(name="rate" type="text")
                    
            tr
                td= tr('isOwner?')
                td
                    input(type="radio" id="isowner" name="owner" value="1")
                    label(for="isowner")= tr('Is Owner')
                    input(type="radio" id="notowner" name="owner" value="0")
                    label(for="notowner")= tr('Not Owner')
            
            tr
                td= tr('remark')
                td
                    textarea(name="remark")
            
            tr
                td= tr('avatar_url')
                td
                    input(name="avatar" type="text")
            
            tr
                td(colspan=2)
                    input(type="submit" value="#{tr('submit')}")
