extends ../layout.jade

block content
    h1 Change User Info
    
    if msg
        p= msg
    
    if userinfo
        form#myform
            table(border=1)
                tr(style='display: none')
                    td
                        input(name="_id" type="text" value="#{userinfo._id}")
                tr
                    td= tr('userform_userid')
                    td
                        input(name="userid" type="text" value="#{userinfo.userid}")
                tr
                    td= tr('userform_pwd')
                    td
                        input(name="pwd" type='text' value="#{userinfo.password}")
                tr
                    td= tr('userform_name')
                    td
                        input(name="name" type='text' value="#{userinfo.name}")
                tr
                    td= tr('userform_sex')
                    td
                        -var male = userinfo.sex
                        -var female = !userinfo.sex
                        input(type="radio" checked=male id="male_rd" name="sex" value="1")
                        label(for="male_rd")= tr('sex_male')
                        input(type="radio" checked=female id="female_rd" name="sex" value="0")
                        label(for="female_rd")= tr('sex_female')
                tr
                    td= tr('userform_email')
                    td
                        input(name="email" type="text" value="#{userinfo.email}")

                tr
                    td= tr('userform_compname')
                    td
                        input(name="compname" tpye="text" value="#{userinfo.compid}")
                tr
                    td(colspan=2)
                        label(for="address_street")= tr('userform_address_street')
                        input(id="address_street" name="address_street" type="text")
                        label(for="address_city")= tr('userform_address_city')
                        input(id="address_city" name="address_city" type="text")
                        label(for="address_state")= tr('userform_address_state')
                        input(id="address_state" name="address_state" type="text")
                        label(for="address_zip")= tr('userform_address_zip')
                        input(id="address_zip" name="address_zip" type="text")
                tr
                    td= tr('userform_tel')
                    td
                        input(name="tel" type="text")
                tr
                    td= tr('userform_dpt')
                    td
                        input(name="dptname" type="text")
                tr
                    td= tr('userform_rate')
                    td
                        input(name="rate" type="text")
                tr
                    td= tr('remark')
                    td
                        textarea(name="remark")
                
            input#btn1(type="button" value="Change")
            input#btn2(type="button" value="Delete")

    script.
        var $form = $('#myform');
        $('#btn1').click(function(){
            $form.attr('action', '/users/change');
            $form.attr('method', 'post');
            $form.submit();
        });
        
        $('#btn2').click(function(){
            $form.attr('action', "/users/delete");
            $form.attr('method', 'post');
            $form.submit();
        });
