extends ../layout.jade

block content
	h1.
		SearchUser

	if msg
		p= msg
		
	a(href="/users/add") Add a User
	br
	a(href='/users/search') List All Users
	br 
	br
	form(action="/users/search" method="POST")
		input(name="userid" placeholder="Entre el nombre, por favor!" size="32")
		input(type="submit" value="#{tr('Search')}")

	if userlist
		table
			tr
				th(style="padding: 10px") Name
				th(style="padding: 10px") Id
				th(style="padding: 10px") Tools
				th(style="padding: 10px") Records

			each user, i in userlist
				tr
					td( style="padding: 10px")= user.name
					td(style="padding: 10px")
						a(href="/users/change/#{user.userid}")= user.userid

					td(style="padding: 10px")= user.remark
					td(style="padding: 10px")

						a(href="/records/records_show/#{user.userid}" target="_blank") View
