extends ../layout.jade

append links
    link(rel="stylesheet" href="/stylesheets/usersearch.css")

block content
    .main 
        form(action="/supervisor/employees" method="POST")
            .searchbox
                img.searchicon(src="/images/searchicon.png")
                input.searchtext(name="userid" placeholder=".....")
            br
            .cmd
                input.search(type="submit" value="#{tr('Search')}")
                button.clear(href='/supervisor/employees')= tr('clearsearch') 

        if userlist
            table.userTable()
                tr
                    th()= tr('name')
                    th()= tr('userid')
                    th()
                        img(src="/images/X Pink.png" alt="cross icon")

                each user, i in userlist
                    tr
                        td(style="padding: 10px")
                            a(href="/supervisor/employees/#{user.userid}")= user.name
                        td(style="padding: 10px")
                            a(href="/supervisor/employees/#{user.userid}")= user.userid
                        td(style="padding: 10px")
                            a(href="/users/delete/#{user._id}")
                                img(src="/images/X transparent.png" alt="cross icon")

        .returnDiv
            button.returnButton.noselect= tr("return")

        script.
            $(".returnButton").on('click', function(){
                location.href= "/supervisor/supervisor_main";
            });

