extends ../layout.jade

append links
    link(rel='stylesheet', href='/stylesheets/staffMain.css')

append scripts
    //script(src= "/javascripts/showHideRate.js")
    script.
        $(function initEvent(){
            var rateSH = $(".showHideRate");
            var cover = $(".imageCover");
            var hrRate = $(".hourRate");

            var showCover = true;
            rateSH.on("click", function(e){

                var cover = $(".imageCover");
                if(showCover) {
                  showCover = false;
                  cover.css("visibility", "hidden");
                } else {
                  showCover = true;
                  cover.css("visibility", "");
                }
               changeWord();
            });

            function changeWord(){
                if(showCover){
                    rateSH.find("span").html("#{tr('showrate')}");
                }else{
                    rateSH.find("span").html("#{tr('hiderate')}");
                }
            }


            $('.punchReport').on('click', function(){
                location.href = "/recentRecords";
            });

            $('.delegate').on('click', function(){
                location.href = "/staff_delegate";
            });

            $('.settings').click(function(){
                location.href = '/settings';
            });

            $('.logout').on('click', function(){
                location.href = "/logout";
            });
        });


block content
    .staffMainPage(ontouchstart="")
        //.userInfo
        .avatar
            img(src="#{user.avatar ? user.avatar : user.sex ? '/images/boydefaultpicture.png' : '/images/girl default picture.png'}" alt="User Avatar") 
            p= tr('welcome') + " " + user.name
            //.acctInfo
                pre.
                    Company: #{user.compid}
                    User Account: #{user.email}
                    User ID: #{user.userid}
                    User Name: #{user.name}
                    Gender: #{user.sex}
                    Date Enrolled: #{user.createDate}
                    Address: #{user.address}

        .paidRate
            .paidRateBox
                span.text= tr('paidrate')
            .paidRateBox
                .hourRate $#{user.curRate} #{tr('per_hour')}
                .imageCover

            .paidRateBox.showHideRate.noselect
                span= tr('showrate')
                    
               
        .otherInfoLinks.noselect
            .punchReport.otherInfo= tr('punchReport')
            if delegate
                .delegate.otherInfo= tr('delegate')
            .settings.otherInfo= tr('setting')
            .logout.otherInfo= tr('logout')
            if false
                .wageReport.otherInfo= tr('wageReport')
