extends ../layout.jade

append links
    link(rel= "stylesheet" href= "/stylesheets/staffDelegate.css")

append scripts

block content
    .staffDelegatePage(ontouchstart="")

        .companyInfo 
            .companyTitle= data.name
            .companyNumber 
                .number 347-698-8300
                .number 917-291-7836
            .companyAddress
                .streetAddress 140-75 ASH AVE, SUITE 2F
                .cityAddress FLUSHING, NY 11355

        .qrcode
            img(src="#{data.qrdata}")

        .change.noselect
            button.changeButton= tr('change_qrcode')

        .returnDiv.noselect
            button.returnButton= tr("return")
    
    script.
        $(".changeButton").on('click', function(){
            location.reload();
        });

        var url = window.location.href;
        if(/supervisor/.test(url)){
            $(".returnButton").on('click', function(){

                location.href= "/supervisor/supervisor_main";
            });
        }
        else{
            $(".returnButton").on('click', function(){
                location.href= "/staff_main";
            });
        }