
extends ../layout.jade

append links
    link(rel="stylesheet" href="/stylesheets/adminpunch.css") 
    link(rel='stylesheet' href='/stylesheets/staffPunchReport.css')
    link(rel="stylesheet" href="/bootstrap-3.3.5-dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/pickadate/lib/themes/default.css" id="theme_base")
    link(rel="stylesheet" href="/pickadate/lib/themes/default.date.css" id="theme_date")
    link(rel="stylesheet" href="/pickadate/lib/themes/default.time.css" id="theme_time")

    //link(rel= "stylesheet" href= "/datepicker/css/datepicker.css")
append scripts
    script(src="/pickadate/lib/picker.js")
    script(src="/pickadate/lib/picker.date.js")
    script(src="/pickadate/lib/picker.time.js")
    //script(src="/datepicker/js/bootstrap-datepicker.js")
    //script(src="/javascripts/datePickerAdjust.js")

    script.
        $(document).ready(function(){
            $(".useDatePicker").pickadate();
            $('.preview').on('click', function(){
                $('#searchform').submit();

            });
            $('.return').on('click', function(){
                location.href = "/supervisor/employees";

            });
        });

    - function getTime(tstamp) {
    -   return moment(tstamp).format("HH:mm A");
    - }
    - function getDate(tstamp) {
    -   return moment(tstamp).format("YYYY-MM-DD");
    - }
block content
    .staffPunchPage(ontouchstart="")
        form#searchform(action="/records_search" method="POST")
            .startEndTime
                input.useDatePicker(type= "text" name="startdate" placeholder="#{tr('starttime')}") 
                //.endTime 
                input.useDatePicker(type= "text" name="enddate" placeholder="#{tr('endtime')}")
                input(type="hidden" name="userid" value="#{userid}")

            .controlButtons
                .preview.buttonItem= tr('preview')
                .buttonItem= tr('export')
                .return.buttonItem= tr('return')

        .reportTable
            table 
                tr
                    th(colspan='4')
                        = tr('time') + " "
                        = tr('in') + "/"
                        = tr('out')

                if records.length === 0
                    tr
                        td(colspan=3 align="center")
                            span.text= tr('empty records')
                else
                    each record in records
                        tr
                            td 
                                ul
                                    li 
                                        .hollowcircle.green
                                    li 
                                        .hollowcircle.red
                            td
                                ul.dateList
                                    li.outDate= record.outDate ? getDate(record.outDate) : ""
                                    li.inDate= getDate(record.inDate)
                            td
                                ul.timeList
                                    li.outTime= record.outDate ? getTime(record.outDate) : ""
                                    li.inTime= getTime(record.inDate)
                            td
                                ul
                                    li= tr('out')
                                    li= tr('in')
