extends ../layout.jade

prepend links
	link(rel='stylesheet', href='/stylesheets/staffMain.css')
block content
	.staffMainPage
		.userInfo
			.avatar
				img(src="/images/yongred.jpg" alt= user.avatar)
			.acctInfo
				pre.
					Company: #{user.compid}
					User Account: #{user.email}
					User ID: #{user.userid}
					User Name: #{user.name}
					Gender: #{user.sex}
					Date Enrolled: #{user.createDate}
					Address: #{user.address}


		.paidRate
			.paidRateLabel Paid Rate:
			.paidRateDisplay #{user.curRate}
			.paidRateClick 
				.clickDiv Show Rate

		.otherInfoLinks
			.punchReport.otherInfo
				a(href= "/user/selfreport/punch") Punch Report
			.wageReport.otherInfo
				a(href= "/user/selfreport/wage") Wage Report
		
			.setting.otherInfo
				a(href= "/user/setting") Setting
			.delegate.otherInfo
				if delegate
					a(href= "/user/delegate") Delegate
