extends ../layout.jade

block content
    if attr
        p= attr.msg
    form(action="/comp/new" method="POST")
        table
            tr
                td 
                    label.formlabel(for='compname')= tr('newcomp_name')
                td
                    input#compname.formtext(type='text' name="compname")
            tr
                td
                    label.formlabel(for='expire')= tr('newcomp_expire')
                td
                    input#expire.formtext(type='text' name="expire")
            tr
                td
                    label.formlabel(for='iplist')= tr('newcomp_iplist')
                td
                    input#iplist.formtext(type='text' name="iplist")
            tr
                td
                    label.formlabel(for='complogo')= tr('newcomp_complogo')
                td
                    input#complogo.formtext(type='text' name="complogo")
            tr
                td
                    label.formlabel(for="compremark")= tr('newcomp_compremark')
                td
                    textarea#compremark.formtextarea(name="compremark")
            tr
                td.cmd
                    input.submit(type="submit" value=tr('submit'))
        

